* {
    margin : 5px;
    padding : 5px;
}

#terms {
    background-color : bisque;
    border : 3px orange;
    font-size : large;
    width : 50%;
    margin : auto;
}

.drop-shadow {
    box-shadow : 3px 3px black;
}